.top_container{
  background-color: #309286;
  padding-bottom: 10%;
}

.info_container{
  padding-top: 7%;
  padding-bottom: 7%;
}

.bottom_container{
  padding-top: 5%;
  background-color: #454d66;
}

.top_part{
  background-color: #e6f8f9;
}

.info_part{
  padding-top: 1%;
  padding-bottom: 2%;
}

.team_members{
  padding-top: 2%;
  background-color: #525252;
  color: white;
}

.bottom_semi_container{
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: #c8dad3;
}

.top_header{
  text-align: center;
}
